* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('/fonts/Segoe\ UI.woff') format('woff');
}

body {
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url('/images/wallpaper.jpg');
  background-size: cover;
  font-family: windows;
  font-family: 'Segoe UI Regular';
}

.bold {
  font-weight: bold;
}